# Entornos virtuales
.venv/
venv/
env/
ENV/
incident-venv
.incident-venv
llm-venv
.llm-venv
.playwright-venv
.selenium-venv

# Ficheros de cache de python y test
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# env
**/.env

# Docker y contenedor
.docker/
postgres_data/

# Logs
logs/
*.log

# SQLite
*.db
*.sqlite3

# Visual studio y ficheros dle sistema
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Archivos comprimidos
*.rar
*.zip
*.7z