# Configuracion del modelo LLM
MODEL_ID=Qwen/Qwen2.5-1.5B-Instruct
MAX_NEW_TOKENS=256
TEMPERATURE=0.2
TOP_P=0.9
LOAD_MODEL_ON_STARTUP=true # Cargar modelo al iniciar el servicio o en primera peticion
DO_SAMPLE=false

# Directorio con los prompts
PROMPTS_DIR=app/prompts

PROMPT_BASIC_FILE=incident_analysis_v1.txt

# Variables configurables para logging
LOG_LEVEL="INFO"
# No se especifica nada mas, ya que el WORKINGDIR es app/
LOG_DIR_PATH=logs

ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500